/* =============================== BASIC STYLE =============================== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #e4e2df;
    font-family: 'Mooli', sans-serif;
}

#element,
.typed-cursor {
    color: var(--secondary-);
    font-size: var(--mediumText-);
    font-weight: 800;
}

.container {
    margin: 0 10rem;
}

.aboutSection,
.hobbiesSection,
.about-row,
.projectsSection,
.footerSection {
    margin-top: 3rem;
}

/* =============================== STYLE UTILITY =============================== */

:root {
    --primary-: #0b1032;
    --secondary-: #ece9e2;
    --largeText-: 3rem;
    --mediumText-: 1.5rem;
    --mediumText2-: 2rem;
}

/* =============================== NAVIGATION MENU START =============================== */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: var(--primary-);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 6px 6px 20px -3px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 6px 6px 20px -3px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 6px 6px 20px -3px rgba(0, 0, 0, 0.65);
}

#nav-logo,
nav ul li a {
    color: var(--secondary-);
    font-family: 'Mooli', sans-serif;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    font-size: var(--mediumText-);
}

.hamburger {
    display: none;
    background: transparent;
    cursor: pointer;
    z-index: 999;
}

.menu-outline[name="close"] {
    display: none;
}

/* =============================== HEADER =============================== */

.header {
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--largeText-);
    color: var(--secondary-);
    background: url("/images/header-bg-clip.jpg") center bottom/cover;
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-content {
    position: relative;
    z-index: 1;
    text-align: center;
}

#header-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    height: 100px;
    width: 100px;
}

.tagLine {
    font-size: 2rem;
    text-align: center;
}

/* =============================== MY WORK SECTION START =============================== */
.work-section {
    text-align: center;
    padding: 20px;
    margin: 0 10rem;
}

.work-section h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000;
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.work-box {
    width: 200px;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.work-box:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.work-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Modal styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    display: block;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1100;
}

.close:hover {
    color: #ccc;
}

/* =============================== ABOUT SECTION START =============================== */

.aboutContent {
    margin: 1rem 0 10rem;
    text-align: center;
    text-wrap: balance;
}

.aboutContent p {
    margin: 0 18rem;
    font-family: 'Mooli', sans-serif;
    font-size: 21px;
}

.aboutSectionImg img {
    height: 10rem;
}

.prfOfEdu p,
.prfOfEdu h3,
.hobbiesSection p {
    text-align: center;
    font-family: 'Mooli', sans-serif;
}

.prfOfEdu hr {
    border: 2px solid var(--primary-);
    margin: 1rem 0;
}

.profile {
    margin-top: -8rem;
}

/* =============================== HOBBIES SECTION =============================== */
.hobbies-row {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2rem;
}

.hobbies {
    text-align: center;
}

.prjImg img {
    height: 50%;
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* =============================== PROJECT =============================== */

.view-prj-btn {
    margin-top: 1.5rem;
}

.view-projects {
    padding: 10px 20px;
    background-color: #e4e2df;
    text-decoration: none;
    border: 3px solid var(--primary-);
    border-radius: 25px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    box-shadow: 2px 6px 20px -2px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 2px 6px 20px -2px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 2px 6px 20px -2px rgba(0, 0, 0, 0.51);
}

.view-projects:hover {
    background-color: rgba(255, 255, 255, 0.911);
    cursor: pointer;
}

/* =============================== FOOTER =============================== */

.footerSection {
    background-color: var(--primary-);
    color: var(--secondary-);
    padding: 3rem 5rem 2rem;
    text-align: center;
}

.footerSection h1 {
    font-family: 'Mooli', sans-serif;
    font-size: xxx-large;
}

.footerSection .social-footer {
    margin-top: 2rem;
    font-size: 1.2rem;
}

.social-footer .icons {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.footerSection p {
    margin-top: 2rem;
    font-size: 1.2rem;
}

.fa-brands {
    font-size: var(--mediumText2-);
}

.fa-envelope {
    display: grid;
}